{% extends "base.html" %}

{% block title %}Dashboard | CapyFin{% endblock %}

{% block content %}
<div class="row">
	{% include "dashboard/top_level_chart.html" %}
</div>

<div class="mt-4">
	{% include "dashboard/transactions.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const assetsValues = {{ assets_values|safe }}.map(value => new Number(value));
  const spendingValues = {{ spending_values|safe }}.map(value => new Number(value));
  const profitLossValues = {{ profit_loss_values|safe }}.map(value => new Number(value));

  const lightColors = {
    text: '#FFFFFF',
    gridLines: '#4A4A4A',
    background: 'rgba(255, 255, 255, 0.1)',
    border: '#FFFFFF',
  };

  var assetsData = {
    labels: {{ assets_labels|safe }},
    datasets: [{
        data: assetsValues,
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4CAF50", "#9C27B0"],
        borderColor: lightColors.border,
    }]
  };

  var spendingData = {
    labels: {{ spending_labels|safe }},
    datasets: [{
        label: 'Total Expenses',
        data: spendingValues,
        backgroundColor: "#36A2EB",
        borderColor: lightColors.border,
    }]
  };

  var profitLossData = {
    labels: {{ profit_loss_labels|safe }},
    datasets: [{
        label: 'Profit/Loss',
        data: profitLossValues,
        borderColor: "#FF6384",
        backgroundColor: lightColors.background,
        fill: false,
    }]
  };

  const chartOptions = {
    plugins: {
      legend: {
        labels: {
          color: lightColors.text,
        },
      },
    },
    scales: {
      x: {
        ticks: {
          color: lightColors.text,
        },
        grid: {
          color: lightColors.gridLines,
        },
      },
      y: {
        ticks: {
          color: lightColors.text,
        },
        grid: {
          color: lightColors.gridLines,
        },
      },
    },
  };

  new Chart(document.getElementById("assets-pie-chart"), {
    type: 'pie',
    data: assetsData,
    options: chartOptions,
  });

  new Chart(document.getElementById("spending-bar-chart"), {
    type: 'bar',
    data: spendingData,
    options: chartOptions,
  });

  new Chart(document.getElementById("profit-loss-line-chart"), {
    type: 'line',
    data: profitLossData,
    options: chartOptions,
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addTransactionButton = document.getElementById("add-transaction");
    const deleteTransactionButton = document.getElementById("delete-transaction");
    const transactionTable = document.getElementById("transaction-table");

    if (deleteTransactionButton) {
      deleteTransactionButton.addEventListener("click", function (event) {
        const transactionId = event.target.closest("tr").dataset.transactionId;
        deleteTransaction(transactionId);
      })
    }

    function deleteTransaction(transactionId) {
      if (!confirm("Удалить транзакцию?")) return;

      const deleteTransactionUrl = "{% url 'delete_transaction' transaction_id=0 %}".replace("0", transactionId);
      fetch(deleteTransactionUrl, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
      })
        .then(response => response.json())
        .then(_ => location.reload())
        .catch(error => console.error("Error:", error));
    }

    addTransactionButton.addEventListener("click", function () {
      if (document.getElementById("new-transaction-row")) return;

      const newRow = document.createElement("tr");
      newRow.id = "new-transaction-row";
      newRow.innerHTML = `
        <td><input type="date" class="form-control" id="new-date"></td>
        <td>
            <select class="form-control" id="new-crypto">
                {% for coin in coins %}
                    <option value="{{ coin }}">{{ coin }}</option>
                {% endfor %}
            </select>
        </td>
        <td><input type="number" step="0.0001" class="form-control" id="new-amount"></td>
        <td><input type="number" step="0.01" class="form-control" id="new-sum"></td>
        <td><input type="number" step="0.01" class="form-control" id="new-cost-for-one"></td>
        <td>
            <select class="form-control" id="new-action">
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </td>
        <td>
            <button id="save-transaction" class="btn btn-primary btn-sm">✔</button>
            <button id="cancel-transaction" class="btn btn-danger btn-sm">✖</button>
        </td>
      `;
      transactionTable.prepend(newRow);
      document.getElementById("new-date").valueAsDate = new Date();

      document.getElementById("save-transaction").addEventListener("click", saveTransaction);
      document.getElementById("cancel-transaction").addEventListener("click", function () {
        newRow.remove();
      });
    });
    function saveTransaction() {
      const date = document.getElementById("new-date").value;
      const crypto = document.getElementById("new-crypto").value;
      const amount = document.getElementById("new-amount").value;
      const sum = document.getElementById("new-sum").value;
      const costForOne = document.getElementById("new-cost-for-one").value;
      const action = document.getElementById("new-action").value;

      if (!date || !crypto || !amount || !sum || !costForOne || !action) {
        alert("Please fill in all fields");
        return;
      }

      fetch("{% url 'create_transaction' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
          purchased_at: date,
          coin_id: crypto,
          count: amount,
          spent: sum,
          cost_for_one: costForOne,
          action: action
        })
      })
        .then(response => response.json())
        .then(_ => location.reload())
        .catch(error => console.error("Error:", error));
    }
  });
</script>
{% endblock %}
