{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header text-center">
				Вход через Telegram
			</div>
			<div class="card-body text-center">
				<script async
				        src="https://telegram.org/js/telegram-widget.js?22"
				        data-telegram-login="capyfin_bot"
				        data-size="large"
				        data-auth-url="https://ef97-87-200-80-188.ngrok-free.app/auth/complete/telegram/"
				        data-request-access="write">
				</script>
			</div>
		</div>
	</div>
</div>
{% endblock %}
